:root{
    --Panels: rgb(0,72,124);
    --Backgroundcolor: #022D4E;
}
table {
    position: relative;
    /* overflow: scroll; */
    margin: 0;
    padding: 0;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 97%;
    border-radius: 0.6vw;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: var(--Backgroundcolor);
    border-radius: 0.6vw;
}

thead {
    position:sticky;
    top: 0;
}

th {
    position:sticky;
    top: 0;
    margin: 0;
    white-space: nowrap;
    background-color: #022D4E;
    color: rgb(215,167,37);
    /* background-color: #333333; */
    /* color: #FFF; */
    /* border: 0.5px solid #DDD; */
    border: none !important;
    text-align: center;
    font-size: 10px;
    padding: 8px 0px 8px 0px !important;
}

td {
    text-align: center;
    white-space: nowrap;
    /* border: 0.5px solid #dee2e6; */
    border:none !important;
    padding: 5px 5px;
    background-color: transparent;
    color: rgba(255,255,255,0.4);
    font-size: 10px;
    padding: 5px 0px 5px 0px !important;
}

td:first-child {
    border-radius: 0.4vw 0 0 0.4vw;
}

td:last-child {
    border-radius: 0 0.4vw 0.4vw 0;
}

.body-container {
height: 100vh;
width: 100%;
background-image: url('images/Cover.jpg');
background-size: 100% 100%;
opacity: 1;
position: fixed;
z-index: 0;
top: 0;
}

.overlay-container {
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: 0;
    top: 0;
}

.inputs-container {
    position: relative;
    /* opacity: 0.7; */
    width: 800px;
    height: 400px;
    top: calc(50vh - 200px);
    left: calc(50% - 400px);
    background-color: rgba(12, 37, 67, 0.5);
    border-radius: 30px;
    z-index: 0;
}

.logo-img {
    position: relative;
    top: 30px;
    opacity: 0.9;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    z-index: 0;
}

/* .login {
    width:  300px;
    margin: 100px auto;
    position: relative;
    z-index: 1;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
} */

.input-login {
    position: relative;
    display: block;
    width: 200px;
    height: 25px;
    left: calc(50% - 100px);
    opacity: 1;
    top: 60px;
    margin-bottom: 10px;
    background-color: #FFF;
    z-index: 1;
    padding: 6px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn-login {
    position: relative;
    display: block;
    background-color: #FDB813;
    color: #FFF;
    width: 215px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    z-index: 1;
    opacity: 0.9;
    margin-top: 20px;
}

/*
begin Dashboard
*/

.body-dashboard {
    /* background-color: #F5F8FF; */
    /* background-color: #405675; */
    background-color: #022D4E;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

.navbar-left {
    /* background-color: #FFF; */
    background-color: var(--Panels);
    height: 96.88vh;
    width: 12vw;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 8;
    left: 1.1vw;
    top: 1.56vh;
    border-radius: 1vw;
}

.navbar-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* background-color: #000; */
    height: 77%;
    padding: 5px;
    z-index: 8;
    width: 77%;
}

.navbar-cont  .navcont-div {
    width: 90%;
    /* background-color: red; */
    height: 40px;
    /* position: relative; */
    text-align: center;
    justify-content: center;
    font-size: 25px;
    /* margin-top: 20px; */
    color: rgb(0, 72, 124);
    position: relative;
    z-index: 8;
    /* background-color: rgba(2,45,78,1); */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    /* align-content: center; */
    align-items: center;
    border-radius: 7px;
    margin-bottom: 5px;
}

.navbar-cont  .navcont-div p {
    color: rgb(185 178 178);
    font-size: 15px;
    padding: 0;
    height: 15px;
    line-height: 15px;
    margin: 0;
    /* margin-right: 6px; */
    position: absolute;
    /* margin-right: 6px; */
    right: 5px;
    width: 7vw;
    text-align: left;
    /* font-weight: 500; */
}

/* .navbar-cont  .navcont-div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
} */

/* .navbar-cont .navcont-star :hover {
    display: block;
} */

.navbar-cont  .navcont-div .Star-Ind {
    width: 20vw;
    height: 20vh;
    /* background-color: rgba(2,45,78,0.9); */
    background-color: rgba(0,0,0,0.7);
    /* background-color: cyan; */
    position: absolute;
    left: 3.2vw;
    top: -10vh;
    border-radius: 2vh;
    z-index: 8;
    text-align: center;
    display: none;
}

.navbar-cont  .navcont-div .Star-Ind a {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 4vh;
    display: block;
    /* background-color: red; */
    border-radius: 0.8vh;
    font-size: 2.4vh;
    font-weight: 300;
    line-height: 3.3vh;
    color: white;
    text-align: center;
}

.navbar-cont  .navcont-div .Star-Ind a:hover {
    text-decoration: underline;
    color: #EFEFED;
}

.navbar-cont  .navcont-div .Star-Ind-Triangle {
     /* width: 2vw;
    height: 2vw;  */
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-right: 1vw solid rgba(0,0,0,0.7);
    border-bottom: 1vw solid transparent;
    border-left: 1vw solid transparent;
    /* background-color: rgba(2,45,78,0.7); */
    position: absolute;
    left: 1.2vw;
    top: 0;
    z-index: 8;
    display: none;
}

.navbar-cont  .navcont-div .Star-Ind-Loc {
    width: 26vw;
    height: 20vh;
    /* background-color: rgba(2,45,78,0.9); */
    background-color: rgba(0,0,0,0.7);
    /* background-color: cyan; */
    position: absolute;
    left: 24.2vw;
    top: -12.2vh;
    border-radius: 2vh;
    z-index: 8;
    text-align: center;
    overflow-y: scroll;
    display: none;
}

.navbar-cont  .navcont-div .Star-Ind-Loc a {
    margin: 0;
    padding: 0;
    width: 24vw;
    height: 4vh;
    display: block;
    /* background-color: red; */
    border-radius: 0.8vh;
    font-size: 2.4vh;
    font-weight: 300;
    line-height: 3.3vh;
    color: white;
    text-align: center;
}

.navbar-cont  .navcont-div .Star-Ind-Loc a:hover {
    text-decoration: underline;
    color: #EFEFED;
}

.navbar-cont  .navcont-div .Star-Ind-Loc-Triangle {
    /* width: 2vw;
   height: 2vw;  */
   width: 0;
   height: 0;
   border-top: 1vw solid transparent;
   border-right: 1vw solid rgba(0,0,0,0.7);
   border-bottom: 1vw solid transparent;
   border-left: 1vw solid transparent;
   /* background-color: rgba(2,45,78,0.7); */
   position: absolute;
   left: 22.2vw;
   top: -10vh;
   z-index: 8;
   display: none;
}

.navbar-cont  .navcont-div .Star-Ind-Eq {
    width: 26vw;
    height: 20vh;
    /* background-color: rgba(2,45,78,0.9); */
    background-color: rgba(0,0,0,0.7);
    /* background-color: cyan; */
    position: absolute;
    left: 24.2vw;
    top: -8.2vh;
    border-radius: 2vh;
    z-index: 8;
    text-align: center;
    overflow-y: scroll;
    display: none;
}

.navbar-cont  .navcont-div .Star-Ind-Eq a {
    margin: 0;
    padding: 0;
    width: 24vw;
    height: 4vh;
    display: block;
    /* background-color: red; */
    border-radius: 0.8vh;
    font-size: 2.4vh;
    font-weight: 300;
    line-height: 3.3vh;
    color: white;
    text-align: center;
}

.navbar-cont  .navcont-div .Star-Ind-Eq a:hover {
    text-decoration: underline;
    color: #EFEFED;
}

.navbar-cont  .navcont-div .Star-Ind-Eq-Triangle {
    /* width: 2vw;
   height: 2vw;  */
   width: 0;
   height: 0;
   border-top: 1vw solid transparent;
   border-right: 1vw solid rgba(0,0,0,0.7);
   border-bottom: 1vw solid transparent;
   border-left: 1vw solid transparent;
   /* background-color: rgba(2,45,78,0.7); */
   position: absolute;
   left: 22.2vw;
   top: -6vh;
   z-index: 8;
   display: none;
}

.navbar-cont .logo-img-navleft{
    position: absolute;
    top: 3vh;
    /* left: 2.5px; */
    margin: 0 ;
    padding: 0 ;
}

.navbar-cont  div .logo-img-img{
    width: 3.8vw;
    height: 3.8vw;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

/* .navbar-cont  .logo-img {
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

.fa-home, .fa-envelope, .fa-gear, .fa-star, .fa-right-from-bracket, .fa-sun, .fa-moon, .fa-grip, .fa-table-cells {
    font-size: 15px;
    /* color: #EFEFED; */
    color: rgb(185 178 178);
    -webkit-text-stroke: 0.4px var(--Panels);
    margin-right: 10px;
    margin-left: 8px;
}

.navbar-cont  div:hover {
    cursor: pointer;
}

.navbar-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* background-color: cyan; */
    height: 20%;
    width: 77%;
    padding: 5px;
}

.navbar-bottom div {
    position: relative;
    /* background-color: red; */
    height: 40px;
    width: 90%;
    height: 40px;
    text-align: center;
    justify-content:center;
    align-items: stretch;
    font-size: 25px;
    margin-top: 5px;
    color: rgb(0, 72, 124);
    /* background-color: rgba(2,45,78,1); */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    /* align-content: center; */
    align-items: center;
    border-radius: 7px;
    margin-bottom: 5px;
}

.navbar-bottom div p {
    color: rgb(185 178 178);
    font-size: 15px;
    padding: 0;
    height: 15px;
    line-height: 15px;
    margin: 0;
    /* margin-right: 6px; */
    position: absolute;
    /* margin-right: 6px; */
    right: 0px;
    width: 7vw;
    text-align: left;
    /* font-weight: 500; */
}

.navbar-bottom div :hover {
    cursor: pointer;
}

/*
End Dashboard
*/

/*
Start Main Page
*/

.menubar-top {
    /* background-color: white; */
    /* background-color: rgb(0, 72, 124); */
    position: fixed;
    width: 97.7vw;
    height: 9.3vh;
    left: 1.1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    top: 1.56vh;
    /* border: 1px solid #F5F8FF; */
    /* border: 1px solid #405675; */
    border-radius: 1vw;
    z-index: 10;
}

.menubar-top div {
    position: relative;
    /* background-color: violet; */
    height: 9.3vh;
    /* width: 33%; */
    /* height: 40px; */
    text-align: center;
    justify-content:center;
    align-items: center;
    font-size: 15px;
    /* margin-top: 5px; */
    margin-left: 2px;
    color: var(--Panels);
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.menubar-top .menubartop-first {
    width: 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

}

.menubar-top .menubartop-first > p {
    height: 6.8vh;
    width: 100%;
    text-align: left;
    line-height: 6.8vh;
    font-weight: 800;
    font-size: 2.3vw;
    color: orange;
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.menubar-top .menubartop-second {
    width: 56%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.menubar-top .menubartop-second > p {
    height: 6.8vh;
    width: 100%;
    text-align: left;
    line-height: 6.8vh;
    font-weight: 800;
    font-size: 2.3vw;
    color: rgb(215,167,37);
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.menubar-top .menubartop-third {
    width: 21%;
}

/* .menubar-top div div { */
    /* display: inline-block; */
    /* position: relative; */
    /* background-color: red; */
    /* height: 40px; */
    /* float: right; */
    /* width: 35px; */
    /* margin-right: 1px; */
/* } */

.menubar-top div div :hover {
    cursor: pointer;
}

.notification {
    /* margin-right: 20px !important; */
    width: 10%;
}

.not-count {
    background-color: red !important;
    color: white !important;
    width: 1vw !important;
    height: 1vw !important;
    line-height: 2.4vh;
    font-size: 8px !important;
    /* bottom: 10px !important; */
    border-radius: 50%;
    position: absolute !important;
    right: -0.6vw;
    top: 4.5vh;
    /* left: 10px; */
    /* display: none; */
}

.searchbar {
    float: none !important;
    width: 8vw !important;
    position: relative;
}

.searchbar :hover {
    cursor:text !important;
}

.searchbar input {
    font-size: 15px !important;
    height: 5vh;
    line-height: 5vh;
    padding-left: 25px;
    border-radius: 0.8vw;
    border: 1px solid var(--Panels);
    outline: none;
    position: absolute;
    /* top: 6px; */
    /* left: 50px; */
    width: 8vw;
    background-color: #022D4E;
} 

.fa-magnifying-glass {
    /* background-color: red; */
    height: 9.3vh;
    line-height: 9.3vh !important;
    position: absolute;
    /* right: 0px !important; */
    right: 0.5vw;
    /* left: 44px !important; */
    /* top: 2vh !important; */
}

.notification i {
    position: relative;
    /* top: 1.8vh !important; */
    font-size: 1.5vw !important;
    height: 9.3vh;
    line-height: 9.3vh;
    position: absolute;
    right: 0;
}

.downsetting {
    width: 20px !important;
    /* top: 2.3vh; */
}

.menubar-top div div img {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    right: 0;
    /* top: 0.8vh; */
    /* border: 0.1px solid rgb(0, 72, 124,0.3); */
    padding: 1px;
}

.menubar-top div div i {
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 40px;
    position: absolute;
    /* left: -10px; */
    /* top: 13px !important; */
    font-size: 15px;
    color: rgb(185 178 178);;
    -webkit-text-stroke: 0.4px var(--Panels);
}

.menubar-top div img :hover {
    cursor: pointer;
}

.profilepic {
    /* background-color: violet; */
    width: 12%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.downsetting {
    /* background-color: green; */
    width: 6%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.downsetting i {
    height: 9.3vh;
    line-height: 9.3vh;
}

.mainPage {
    /* background-color: #F5F8FF; */
    /* background-color: red; */
    position: relative;
    /* left: 60px; */
    /* margin: 10px; */
    /* height: 100vh; */
    width: 96vw;
    height: 87.58vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    top: 10.86vh;
    left: 3.5vw;
    z-index: 4 !important;
}

.mainPage div {
    width: 100%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    /* margin: 3px; */
    margin-top: 0;
    position: relative;
    z-index: 6;
}

.mainPage .first {
    height: 15vh;
    top: 0;
    position: relative;
    z-index: 6;
    /* background-color: red; */
}

.mainPage .first .first-panel {
    /* background-color: white; */
    /* background-color: var(--Panels); */
    /* margin-left: 6px; */
    /* margin-right: 6px; */
    /* width: calc(100%/5.6) !important; */
    height: 14vh;
    border-radius: 10px;
    /* box-shadow: 2px 2px #e1e3e6; */
    /* box-shadow: 2px 2px grey; */
    float: left;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center; */
    position: relative;
}

.firstcount-header {
    width: 72% !important;
    height: 14vh ;
    /* background-color: red ; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    justify-items: center !important;
    text-align: center !important; */
    position: relative;
    float: left;
}

.firstcount-header div {
    /* background-color: blue; */
    width: 90%;
    /* height: 10.602vh; */
    height: 12vh ;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    /* padding: 5px; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.firstcount-header div .par-content {
    position: relative;
    text-align: center !important;
    font-size: 16;
    background-color: orange;
    width: 90%;
    height: 5vh;
    line-height: 5vh;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    /* transform: translateY(calc((10.602vh/2) - 3.5vh)) !important; */
}

.firstcount-header div .par-head {
    /* width: 90%;
    height: 7vh; */
    /* background-color: orange; */
    color: orange;
    font-size: 14px;
}

.firstcount-per {
    width: 45% !important;
    height: 14vh !important;
    /* background-color: violet !important; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    justify-items: center;
    align-items: center !important;
    position: absolute !important;
    top: 0;
    right: 0;
}

.firstcount-per span {
    /* color: black; */
    color: white;
    /* background-color: cyan; */
    position: absolute;
    height: 8.835vh;
    line-height: 8.835vh;
    /* top: 38%; */
    z-index: 1;
}

/* .firstcount-per div {
    width: 80px;
    height: 80px;
    background-color: violet;
    border-radius: 50%;
    border: 10px solid blue;
} */

.firstcount-per svg {
    /* background-color: red; */
    width: 70px;
    height: 70px;
    position: relative;
}

/* .firstcount-per svg span {
    position: absolute;
    color: white;
    background-color: cyan;
    top: -50%;
    z-index: 1;
} */

.firstcount-per svg circle {
    fill: none;
    stroke: blue ;
    stroke-width: 10 ;
    stroke-linecap: round ;
    /* transform: translate(5px, 5px);  */
    stroke-dasharray: calc(1*188.4);
    stroke-dashoffset: 0;
    /* transform: rotate(0deg); */
}

.mainPage .second {
    height: 44vh;
    position: relative;
    z-index: 6;
}

.mainPage .second .second-panel {
    /* background-color: white; */
    /* background-color: var(--Panels); */
    /* margin-left: 6px; */
    /* margin-right: 6px; */
    width: calc(100%/2.03) ;
    height: 40vh;
    border-radius: 10px;
    /* box-shadow: 2px 2px #e1e3e6; */
    /* box-shadow: 2px 2px grey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.mainPage .second .second-panel div {
    /* background-color: red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    justify-items: center;
}

.mainPage .second .second-panel div span {
    text-align: center;
    margin: 0;
    padding: 0;
    /* background-color: #2DFCC4; */
    border-radius: 5px;
    height: 6vh;
    line-height: 6vh;
    color: #FFF;
    font-size: 17px;
}

.mainPage .second .second-panel .second-header {
    height: 6vh;
    width: 100%;
}

.mainPage .second .second-panel .second-chart {
    height: 29.5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    /* border: 1px solid #FFF; */
}

/* .mainPage .second .second-panel .second-chart .second-bars {
    background-color: orange;
    color: white;
    font-size: 6px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2px;
    padding: 0;
    float: right;
} */


.graphbar {
    position: absolute;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
}

.mainPage .third {
    height: 40vh;
    position: relative;
    z-index: 6;
}

.mainPage .third .third-panel {
    /* background-color: white; */
    /* background-color: var(--Panels); */
    /* margin-left: 6px; */
    /* margin-right: 6px; */
    width: calc(100%/3.1) !important;
    height: 40vh;
    border-radius: 10px;
    /* box-shadow: 2px 2px #e1e3e6; */
    /* box-shadow: 2px 2px grey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

}

.mainPage .third .third-panel div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    /* background-color: red; */
}

.mainPage .third .third-panel div span {
    text-align: center;
    margin: 0;
    padding: 0;
    /* background-color: #2DFCC4; */
    border-radius: 5px;
    height: 4vh;
    line-height: 4vh;
    color: #FFF;
    font-size: 17px;
}

.mainPage .third .third-panel .third-header {
    /* background-color: red; */
    width: 100%;
    height: 2.3vh;
}

.mainPage .third .third-panel .third-data {
    /* background-color: blue; */
    width: 100%;
    height: 20vh;
    font-size: 13px;
    color: orange;
    /* overflow: auto; */
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

/* .first-third-data p {
    width: 90%;
    height: 20vh;
    overflow-x: scroll;
    background-color: red;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
} */

.first-third-data {
    line-height: inherit;
    /* vertical-align: top; */
    /* overflow: auto; */
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    /* overflow-y: scroll; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.first-third-data div {
    /* background-color: red; */
    overflow: auto;
    scrollbar-color: #004377 #022D4E;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.second-third-data {
    line-height: inherit;
    /* vertical-align: top; */
    /* overflow: auto; */
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    /* overflow-y: scroll; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 90%;
    /* color: rgb(247, 122, 6); */
}
.second-third-data p {
    /* background-color: red; */
    overflow: auto;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.third-small-data {
    /* width: 45% !important; */
    height: 90%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
}

.third-small-data-first {
    width: 50% !important;
    /* background-color: orange; */
    overflow: auto;
    position: relative;
}

.third-small-data-second {
    width: 40% !important;
}

.third-small-data svg {
    /* background-color: red; */
    width: 70px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    /* position: absolute; */
    /* top: calc(9vh - 35px);
    right: calc(50% - 35px); */
}

.third-small-data svg circle {
    fill: none;
    stroke: blue ;
    stroke-width: 10 ;
    stroke-linecap: round ;
    /* transform: translate(5px, 5px);  */
    stroke-dasharray: calc(1*188.4);
    stroke-dashoffset: 0;
    /* transform: rotate(0deg); */
}

.third-small-data span {
    /* background-color: cyan; */
    position: absolute;
    width: 100%;
    /* right: calc(50% - 30px); */
    height: 18vh !important;
    line-height: 18vh !important;
}

/*
End Main Page
*/














/* 
Start Equipment Page
*/

/* .Equipment-body-dashboard {
    height: calc(100vh + 30vw);
} */

.Equipment-first {
    /* background-color: red; */
    height: 40vh !important;
}

.Equipment-first-first-panel {
    width: 33.8vw !important;
    height: 40vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.Equipment-first-first-panel > div {
    width: 33.8vw !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    justify-items: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    overflow: auto;
    /* overflow: auto; */
}

.Equipment-header-firstpanel {
    height: 20%;
    color: white;
}

.Equipment-header-firstpanel p {
    width:  36vw;
}

.Equipment-data-firstpanel {
    height: 75%;
}

.Equipment-Second-first-panel {
    width: 20vw !important;
    height: 40vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.Equipment-Third-first-panel {
    width: 25vw !important;
    height: 40vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.Equipment-Second-first-panel .Equipment-ShowNotes {
    /* background-color: red; */
    width: 98%;
    height: 30vh;
    /* color: red !important; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center; */
    position: relative;
    /* overflow: auto; */
}

.Equipment-Second-first-panel .Equipment-ShowNotes > p {
    width: 65% !important;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
    /* background-color: blue; */
}

.Equipment-Second-first-panel .Equipment-ShowNotes .Equipment-ShowNotes-header {
    position: absolute;
    top: 0;
    height: 4.5vh;
}

.Equipment-Second-first-panel .Equipment-ShowNotes .Equipment-ShowNotes-data {
    position: absolute;
    top: 4.5vh;
    height: 24.3vh;
    color: orange;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-content: space-between;
    /* justify-items: flex-end; */
    /* align-items: center; */
    /* overflow-y: scroll; */
    /* text-overflow: ellipsis; */
    /* flex-basis: content; */
}

.line-note {
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #022D4E;
    width: 100%;
    /* height: 5vh; */
    line-height: 5vh;
    margin: 0;
    margin-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 6px;
    padding: 0 !important;
}

.line-note > p {
    color: white;
    width: 60%;
    /* word-break: normal; */
    white-space: normal;
    padding-left: 4px ;
    /* max-width: 70%; */
    text-align: left;
    /* height: 5vh; */
    /* line-height: 5vh; */
    /* background-color: blue; */
}

.line-note > div {
    background-color: red;
    width: 30%;
    max-height: 5vh;
    line-height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.line-note > div i {
    /* height: 5vh ; */
    /* line-height: 5vh; */
    width: 20% !important;
    margin: 0;
    padding: 0;
}

.line-note > div p {
    /* height: 5vh;
    line-height: 5vh; */
    margin: 0;
    padding: 0;
    width: 70% !important;
}

hr.drawline {
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.Equipment-Second-first-panel .Equipment-AddNotes {
    /* background-color: blue; */
    width: 100%;
    height: 9vh;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; */
    margin: 0;
    padding: 0;
}

.Equipment-Second-first-panel .Equipment-AddNotes form {
    width: 100%;
    height: 9vh;
    margin: 0;
    padding: 0;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.Equipment-Second-first-panel .Equipment-AddNotes .Equipment-AddNotes {
    padding-left: 5%;
    outline: none;
    width: 65%;
    height: 6.3vh;
    border-radius: 8px;
    border: none;
}

.Equipment-Second-first-panel .Equipment-AddNotes .Equipment-btn-AddNotes-div {
    width: 25%;
    height: 6.3vh;
    border-radius: 8px;
    border: none;
    margin-left: 2%;
    background-color: orange;
    color: var(--Panels);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    position: relative;
}

.Equipment-Second-first-panel .Equipment-AddNotes .Equipment-btn-AddNotes-div i {
    width: 15%;
    /* position: absolute;
    top: 10px;
    left: 10px; */
    height: 6.3vh;
    line-height: 6.3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.Equipment-Second-first-panel .Equipment-AddNotes .Equipment-btn-AddNotes-div input {
    width: 75%;
    height: 6.3vh;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background-color: orange;
    color: var(--Panels);
    text-align: left;
}

.Equipment-first-second-panel {
    width: 33.8vw !important;
    /* height: 48vw !important; */
}

.Equipment-second-second-panel {
    width: 25vw !important;
    /* height: 48vw !important; */
}

.Equipment-third-second-panel {
    width: 20vw !important;
}

.Equipment_Catalogues {
height: 55% !important;
width: 36vw;
/* background-color: violet; */
display: block !important;
overflow: auto;
}

.Eq_Cat {
    margin-bottom: 8px;
    /* background-color: #022D4E; */
    width: 36vw;
}
.Eq_Cat a {
    color: white;
}

.Cat_Delbtn {
    color: white;
    background-color: red;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0.3vw;
}

.Equipments_Add_Catalogues {
    height: 20% !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.Equipments_Add_Catalogues a {
    height: 6vh;
    line-height: 6vh;
    color: var(--Panels);
    background-color: orange;
    border-radius: 1vh;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.Equipments_Add_Catalogues a:hover {
    color: white !important;
    text-decoration: none !important;
    font-weight: 600;
}

.Eq_Cat_Save {
    background-color: orange;
    outline: none;
    border: none;
    height: 6vh;
    border-radius: 1vh;
    color: var(--Panels);
    font-weight: 600;
}


/* 
End Equipment Page
*/















/*
Start Site Page
*/

.Site_Activities {
    /* background-color: red; */
    height: 6vh;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: 700;
    justify-content: left !important;
    padding: 0 !important;
}

.Site_Activities a {
    height: 6vh;
    line-height: 6vh;
    /* background-color: var(--Backgroundcolor); */
    margin-right: 4px;
    border-radius: 0.5vw 0.5vw 0 0;
    width: 10vw;
    color: rgba(255,255,255,0.5) !important;
    text-decoration: none;
}

.Site_Activities a.Active {
    color: rgba(255,255,255,1) !important;
    /* background-color: white; */
}

.Site_Activities a:hover {
    text-decoration: none;
    color: #EFEFED;
    cursor: pointer;
}

.Site_Progress {
    /* background-color: red; */
    height:30vh; 
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-content:center;
    justify-items:center;
    align-items:center;
    padding:0 !important;
    width: 81.1vw;
}

.Site_ProgressPanel {
    /* background-color: red; */
    background-image:linear-gradient(transparent,rgb(0,72,124),transparent);
    height:30vh;
    border-radius:1vw;
    width:26.3vw !important; 
    padding:0
}








